@model android.Models.Danhmuc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaDanhMuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SuaDanhMuc</h1>

<h4>Danhmuc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaDanhMuc">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDanhMuc" />
            <div class="form-group">
                <label asp-for="TenDanhMuc" class="control-label"></label>
                <input asp-for="TenDanhMuc" class="form-control" />
                <span asp-validation-for="TenDanhMuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

